<!-- Affichage HTML de la page a propos -->
<h3>Présentation du site et de l'algoritgme</h3>
<div id="grid">
Le site propose l'application d'une algorithme de pronostics pour les matchs des cinq championnats de football européen.<br>
<br>
<div class="datagrid"><table>
  <thead colspan="4"><tr colspan="4"><th colspan="4">Statistique (victoire, défaite, nul)</th></tr></thead>
  <tr ><td>0% - 45%</td><td>45% - 50%</td><td>50% - 55%</td><td>55% - 100%</td></tr>
  <tr class="alt"><td>Défaite</td><td>Défaite / Nul</td><td>Nul / Victoire</td><td>Victoire</td></tr>
</table></div>
<br>
L'analyse des matchs se base sur différents indices:<br>
<ul>
  <li>L'indice 1 représente le taux de victoire d'une équipe sur une saison</li>
  <li>L'indice 2 représente le taux de victoire d'une équipe en fonction d'un match à domicile ou à l'extérieur</li>
  <li>L'indice 3 représente le taux de victoire d'une équipe sur les cinq dernières rencontres</li>
  <li>L'indice 4 représente le taux de victoire d'une équipe A contre une équipe B sur les cinqs dernières saison</li>
</ul><br>
</div>
<h3>Equipe de développement</h3>
<div id="grid">
Actuellement étudiants en master 2 MIAGE, ce projet est proposé dans le cadre de l'enseignement "Méthode agiles pour le développement logiciel APP"
présenté par Henri Nicolas.<br>
L'objectif était d'appliquer les principes fondamentaux de la méthode XP dans le cadre d'une conduite de projet.<br>
<br>
Cette mission a été conduite par l'équipe 7.<br>
  <br>
<div id="divImg">
  <div class="thumbnail">
    <div class="image">
      <img src ='../assets/apropos/fabien.png' width = "50px" opacity="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src ='../assets/apropos/guigui.png' width = "50px" opacity="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src ='../assets/apropos/adam.png' width = "50px" opacity="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src ='../assets/apropos/ilyas.png' width = "60" opacity="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src ='../assets/apropos/anthony.png' width = "55px" opacity="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src ='../assets/apropos/raf.png' width = "60px" opacity="0">
    </div>
  </div>
</div>
</div>

