<!-- Affichage HTML de la page Matchs -->
<h3>    </h3>

<!-- Déroulement et affichages des matchs de la classe "match" -->
<div class="datagrid" ><table>
  <thead><tr><th>Equipe domicile</th><th>% de winrate domicile</th><th>Score domicile</th><th>Score exterieur</th><th>% de winrate exterieur</th><th>Equipe exterieur</th></tr></thead>


  <tr><td>
  <a  *ngFor="let match of matchs"
      [class.selected]="match === selectedMatch"
      (click)="onSelect(match)">
        <span class="badge"><br>
           {{match.teamHome}}
        </span>
  </a></td>

    <td width= 15%>
      <a  *ngFor="let match of matchs"
          [class.selected]="match === selectedMatch"
          (click)="onSelect(match)">
        <span class="badge"><br>
       {{match.chanceWinHome | number:0}}
        </span>
      </a>
    </td>


    <td width= 10%>
      <a  *ngFor="let match of matchs"
          [class.selected]="match === selectedMatch"
          (click)="onSelect(match)">
        <span class="badge"><br>
           {{match.scoreHome}}
        </span>
      </a>
    </td>


    <td width= 10%>
      <a  *ngFor="let match of matchs"
          [class.selected]="match === selectedMatch"
          (click)="onSelect(match)">
        <span class="badge"><br>
          {{match.scoreAway}}
        </span>
      </a>
    </td>


    <td width= 15%>
      <a  *ngFor="let match of matchs"
          [class.selected]="match === selectedMatch"
          (click)="onSelect(match)">
        <span class="badge"><br>
{{match.chanceWinAway  | number:0}}
        </span>
      </a>
    </td>


    <td >
      <a  *ngFor="let match of matchs"
          [class.selected]="match === selectedMatch"
          (click)="onSelect(match)">
        <span class="badge"><br>
            {{match.teamAway}}
        </span>
      </a>
    </td>

  </tr>
  </tbody>
</table></div>

<br>
<br><br>

<div class="datagrid"><table>
  <thead colspan="4"><tr colspan="4"><th colspan="4">Statistique (victoire, défaite, nul)</th></tr></thead>
  <tr ><td>0% - 45%</td><td>45% - 50%</td><td>50% - 55%</td><td>55% - 100%</td></tr>
  <tr class="alt"><td>Défaite</td><td>Défaite / Nul</td><td>Nul / Victoire</td><td>Victoire</td></tr>
</table></div>


<button (click)="goBack()" class="myButton">Retour</button>
