#grid {
  text-align: center;
  margin:auto;
  padding-top: 20px;
}

a {
  text-decoration: none;
  padding-left: 20px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1e1e1e;
  background-color: #d2d2d2;
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .05em;
  text-align: center;
  border-radius: 10px;
  border: 3px #404040 dashed;
  width: 75%;
  text-align: center;
  margin: auto;
}

h4 {
  position: relative;
  border-radius: 10px;
}

.col-1-4 {
  width: 25%;
}
.module {
  padding: 10px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #333;
  border-radius: 20px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #333;
}

.myButton {
  background-color:#44c767;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}

body {
  background:#333;
  text-align:center;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

button {
  position:relative;
  background:#333;
  border:1px solid grey;
  padding:20px;
  font-size:0.9em;
  color:white;
  box-shadow:4px 4px 0px 0px grey;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  letter-spacing:5px;
  text-transform:uppercase;
  cursor:  pointer;

}

button:hover {
  left:4px;
  top:4px;
  box-shadow:none;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  cursor:  pointer;
}
